In [11]:
import json
import datetime
import numpy as np
import pandas as pd
# from pandas_summary import DataFrameSummary

In [12]:
with open('data.json') as data_file:
  data = json.load(data_file)

df = pd.DataFrame.from_dict(data)

'''
[10:08]
df['fraud'] = df.acct_type.map(lambda x: 1 if ((x == 'fraudster') | (x == 'fraudster_att') | (x == 'fraudster_event')) else 0)
'''

"\n[10:08]\ndf['fraud'] = df.acct_type.map(lambda x: 1 if ((x == 'fraudster') | (x == 'fraudster_att') | (x == 'fraudster_event')) else 0)\n"

In [13]:
# dfs = DataFrameSummary(df)

In [14]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{u'event_id': 527017, u'cost': 25.0, u'availa...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{u'event_id': 786878, u'cost': 35.0, u'availa...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,1296172800,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,"[{u'event_id': 787337, u'cost': 93.51, u'avail...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA
3,premium,1388966400,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,1360681570,...,"[{u'event_id': 885645, u'cost': 25.0, u'availa...",889,1283870102,3,,None,NaN,NaN,None,None
4,premium,1297900800,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,1291994666,...,"[{u'event_id': 1114349, u'cost': 150.0, u'avai...",35,1288984065,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA

In [15]:
df.describe()

,approx_payout_date,body_length,channels,delivery_method,event_created,event_end,event_published,event_start,fb_published,gts,...,org_facebook,org_twitter,sale_duration,sale_duration2,show_map,user_age,user_created,user_type,venue_latitude,venue_longitude
count,1.433700e+04,14337.000000,14337.000000,14321.000000,1.433700e+04,1.433700e+04,1.423800e+04,1.433700e+04,14337.000000,14337.000000,...,14278.000000,14278.000000,14182.000000,14337.000000,14337.000000,14337.000000,1.433700e+04,14337.000000,13261.000000,13261.000000
mean,1.350933e+09,3672.521936,6.176676,0.439564,1.345825e+09,1.350501e+09,1.340854e+09,1.350205e+09,0.127433,2430.231492,...,7.974436,4.306976,46.869694,50.576759,0.844179,374.226547,1.313492e+09,2.711097,35.221736,-59.490368
std,2.401300e+07,5758.113003,3.860333,0.591487,2.404107e+07,2.401299e+07,8.750386e+07,2.398787e+07,0.333468,9142.308260,...,11.761241,6.011520,54.825253,59.678090,0.362698,418.593616,4.152174e+07,1.606726,20.207588,66.569034
min,1.171256e+09,0.000000,0.000000,0.000000,1.170332e+09,1.170824e+09,0.000000e+00,1.170819e+09,0.000000,0.000000,...,0.000000,0.000000,-1094.000000,-1094.000000,0.000000,0.000000,1.011210e+09,1.000000,-45.045208,-159.390183
25%,1.334221e+09,750.000000,5.000000,0.000000,1.329754e+09,1.333789e+09,1.329499e+09,1.333406e+09,0.000000,116.410000,...,0.000000,0.000000,16.000000,17.000000,1.000000,13.000000,1.286824e+09,1.000000,33.959338,-96.957828
50%,1.355805e+09,1990.000000,6.000000,0.000000,1.351043e+09,1.355373e+09,1.351099e+09,1.355000e+09,0.000000,431.930000,...,0.000000,0.000000,32.000000,35.000000,1.000000,242.000000,1.316636e+09,3.000000,39.974104,-79.425579
75%,1.370646e+09,4280.000000,8.000000,1.000000,1.365346e+09,1.370214e+09,1.365478e+09,1.370048e+09,0.000000,1547.260000,...,14.000000,11.000000,59.000000,63.000000,1.000000,603.000000,1.346790e+09,3.000000,44.857040,-3.187449
max,1.523488e+09,65535.000000,13.000000,3.000000,1.382012e+09,1.523056e+09,1.381608e+09,1.418850e+09,1.000000,306293.930000,...,91.000000,34.000000,980.000000,980.000000,1.000000,3794.000000,1.381543e+09,103.000000,64.844022,176.169492

In [16]:
# convert time values to time type
df['approx_payout_date'] = df['approx_payout_date'].map(lambda x: datetime.datetime.fromtimestamp(x))

In [17]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,2010-02-13 04:00:00,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{u'event_id': 527017, u'cost': 25.0, u'availa...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,2011-02-03 00:00:00,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{u'event_id': 786878, u'cost': 35.0, u'availa...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC
2,premium,2011-01-27 16:00:00,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,"[{u'event_id': 787337, u'cost': 93.51, u'avail...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA
3,premium,2014-01-05 16:00:00,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,1360681570,...,"[{u'event_id': 885645, u'cost': 25.0, u'availa...",889,1283870102,3,,None,NaN,NaN,None,None
4,premium,2011-02-16 16:00:00,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,1291994666,...,"[{u'event_id': 1114349, u'cost': 150.0, u'avai...",35,1288984065,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14337 entries, 0 to 14336
Data columns (total 44 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null datetime64[ns]
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null int64
event_end             14337 non-null int64
event_published       14238 non-null float64
event_start           14337 non-null int64
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null int64
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
dtypes: datetime64[ns](1), float64(9), int64(17), object(17)
memory usage: 4.8+ MB

In [19]:
''' 
Notes: 
gts
user type is a number: ex 14337.000000. 
listed: y or n 
payee_name 
payout_type: CHECK, ACH, etc, previous_payouts, 
sale_duration2
user_created: ex 1259613950
'''

' \nNotes: \ngts\nuser type is a number: ex 14337.000000. \nlisted: y or n \npayee_name \npayout_type: CHECK, ACH, etc, previous_payouts, \nsale_duration2\nuser_created: ex 1259613950\n'

In [20]:
df.user_created.head()

0    1259613950
1    1280942776
2    1272559388
3    1283870102
4    1288984065
Name: user_created, dtype: int64

In [21]:
df.acct_type.nunique()

12

In [22]:
df.acct_type.unique()

array([u'fraudster_event', u'premium', u'spammer_warn', u'fraudster',
       u'spammer_limited', u'spammer_noinvite', u'locked', u'tos_lock',
       u'tos_warn', u'fraudster_att', u'spammer_web', u'spammer'], dtype=object)

In [23]:
([u'fraudster_event', u'premium', u'spammer_warn', u'fraudster',
       u'spammer_limited', u'spammer_noinvite', u'locked', u'tos_lock',
       u'tos_warn', u'fraudster_att', u'spammer_web', u'spammer'])

[u'fraudster_event',
 u'premium',
 u'spammer_warn',
 u'fraudster',
 u'spammer_limited',
 u'spammer_noinvite',
 u'locked',
 u'tos_lock',
 u'tos_warn',
 u'fraudster_att',
 u'spammer_web',
 u'spammer']

In [24]:
# Add a 'Fraud' column. If event type is 'fraudster_event' in acct_type field: True, else False.
df['fraud'] = (df['acct_type'] == 'fraudster_event')

In [25]:
df.head()

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,fraud
0,fraudster_event,2010-02-13 04:00:00,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL,True
1,premium,2011-02-03 00:00:00,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC,False
2,premium,2011-01-27 16:00:00,2601,8,US,USD,1.0,"<h3><span class=""subcategory""><strong>Teacher ...",pvsd.k12.ca.us,1291090956,...,214,1272559388,3,10100 Pioneer Blvd Suite 100,US,33.944201,-118.080419,Los Angeles County Office of Education,CA,False
3,premium,2014-01-05 16:00:00,12347,6,IE,EUR,1.0,"<p style=""margin-bottom: 1.3em; padding-bottom...",irishtabletennis.com,1360681570,...,889,1283870102,3,,None,NaN,NaN,None,None,False
4,premium,2011-02-16 16:00:00,2417,11,US,USD,0.0,<p>Writers and filmmakers need to understand t...,artsandbusinesscouncil.org,1291994666,...,35,1288984065,3,One Marina Park Drive,US,42.353848,-71.044276,Fish & Richardson,MA,False

In [26]:
'''Gut feel
- fraud events are likely to have more missing data, missing logos, shorter descriptions 
['gts', 'listed', 'payout_type', 'user_type', 'delivery_method', 
'org_facebook', 'org_twitter', 'has_analytics', 'venue_address', 'venue_latitude', 
'venue_country', 'venue_longitude']

All possible fields: 
acct_type             14337 non-null object
approx_payout_date    14337 non-null datetime64[ns]
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null int64
event_end             14337 non-null int64
event_published       14238 non-null float64
event_start           14337 non-null int64
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null int64
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
'''
col = 'has_analytics'
print df.groupby(col).mean()['fraud']
print df.groupby(col).count()['fraud']

has_analytics
0    0.063807
1    0.002865
Name: fraud, dtype: float64
has_analytics
0    13290
1     1047
Name: fraud, dtype: int64

In [27]:
col = 'listed'
print df.groupby(col).mean()['fraud']
print df.groupby(col).count()['fraud']

listed
n    0.072825
y    0.057115
Name: fraud, dtype: float64
listed
n     2046
y    12291
Name: fraud, dtype: int64

In [28]:
col = 'payout_type'
print df.groupby(col).mean()['fraud']
print df.groupby(col).count()['fraud']

payout_type
         0.787018
ACH      0.041534
CHECK    0.006293
Name: fraud, dtype: float64
payout_type
           493
ACH      10666
CHECK     3178
Name: fraud, dtype: int64

In [29]:
col = 'user_type'
print df.groupby(col).mean()['fraud']
print df.groupby(col).count()['fraud']

user_type
1      0.174692
2      1.000000
3      0.018484
4      0.019224
5      0.000000
103    0.000000
Name: fraud, dtype: float64
user_type
1      3738
2         1
3      7520
4      3017
5        59
103       2
Name: fraud, dtype: int64

In [30]:
col = 'delivery_method'
print df.groupby(col).mean()['fraud']
print df.groupby(col).count()['fraud']

delivery_method
0.0    0.094014
1.0    0.008462
3.0    0.012146
Name: fraud, dtype: float64
delivery_method
0.0    8520
1.0    5554
3.0     247
Name: fraud, dtype: int64

In [31]:
# some columns contain list, exclude them to prep data for summary
del df['ticket_types']
del df['previous_payouts']

In [32]:
df.columns

Index([         u'acct_type', u'approx_payout_date',        u'body_length',
                 u'channels',            u'country',           u'currency',
          u'delivery_method',        u'description',       u'email_domain',
            u'event_created',          u'event_end',    u'event_published',
              u'event_start',       u'fb_published',                u'gts',
            u'has_analytics',         u'has_header',           u'has_logo',
                   u'listed',               u'name',        u'name_length',
                u'num_order',        u'num_payouts',          u'object_id',
                 u'org_desc',       u'org_facebook',           u'org_name',
              u'org_twitter',         u'payee_name',        u'payout_type',
            u'sale_duration',     u'sale_duration2',           u'show_map',
                 u'user_age',       u'user_created',          u'user_type',
            u'venue_address',      u'venue_country',     u'venue_latitude',
          u'venue_longitude',         u'venue_name',        u'venue_state',
                    u'fraud'],
      dtype='object')

In [33]:
# then split fraud / non_fraud
df_fraud = df[df.fraud==1]
df_non_fraud = df[df.fraud==0]

In [34]:
# Check how many fraud vs not fraud events
df_fraud.shape
# 851/14337 or ~6% fraud

(851, 43)

In [35]:
df_non_fraud.shape
# 13486/14337 not fraud

(13486, 43)